<?xml version="1.0"?>
<Parameters xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TcpListenAddress>192.168.1.138</TcpListenAddress>
  <TcpListenPort>5009</TcpListenPort>
  <UdpListenAddress>192.168.1.138</UdpListenAddress>
  <UdpListenPort>5009</UdpListenPort>
  <ListenType>2</ListenType>
</Parameters>